.goods-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goods-list > div{
  padding: 15px;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
}

.btn {
  padding: 10px 20px;
  background-color: darkkhaki;
}